/* Erica Egan*/
/* CSC102 -tables*/

body /*my bacis bacground color*/
{    
background-color: rgb(45, 140, 171);

}
footer/*footer cnetered and style*/
{
    text-align: center;
font-weight: bold;
font-size: x-large;
font-style: italic;
color: blue;
}
nav/*nav centered and style*/
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    color: blue;  
}